<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<h2>Профиль</h2>

<img src="<%= user.avatar %>" width="120">

<p>UID: <%= user.uid %></p>
<p>Username: <%= user.username %></p>
<p>Display Name: <%= user.displayName %></p>

<form action="/profile/update" method="POST">
  <input type="text" name="displayName" placeholder="Новое имя">
  <button type="submit">Сохранить</button>
</form>

<h3>Друзья</h3>
<ul>
  <% user.friends.forEach(f => { %>
    <li><%= f.displayName %> (<%= f.username %>)</li>
  <% }) %>
</ul>

<h3>Добавить в друзья</h3>
<form action="/friends/add" method="POST">
  <input type="text" name="username" placeholder="username">
  <button type="submit">Добавить</button>
</form>

<br>
<a href="/logout">Выйти</a>

</body>
</html>
